@media (max-width: 480px) {
    body {
        font: 8px sans-serif;
    }
}

@media (min-width: 480px) {
    body {
        font: 10px sans-serif;
    }
}

@media (min-width: 961px) {
    body {
        font: 12px sans-serif;
    }
}

@media (max-width: 1920px) {
    .record {
        padding: 16px 32px 16px 32px;
        border-radius: 8px;
        margin: 16px;
        box-shadow: 2px 2px 4px #00000033;
    }
}

@media (min-width: 1921px) {
    body {
        font: 24px sans-serif;
    }
    .record {
        padding: 32px 64px 32px 64px;
        border-radius: 16px;
        margin: 32px;
        box-shadow: 4px 4px 8px #00000033;
    }
}

.records {
    width: 100%;
    display: inline-block;
}


@media (min-width: 1200px) and (min-aspect-ratio: 1/1) {
    .records {
        width: 50%;
    }
}

.record {
    display: grid;
    background-color: aliceblue;
}

.record:hover {
    background-color: rgb(227, 242, 255);
}

.location {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-weight: bold;
    font-size: 1.2em;
    text-align: left;
}

.date {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-weight: bold;
    text-align: right;
}

.warning {
    color: orange;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
}

.danger {
    color: tomato;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
}

.temperature {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

.time {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 0.8em;
    text-align: center;
}