body {
    font: 0.9em sans-serif;
}

@media (max-aspect-ratio: 1/1) {
    .records {
        display: inline-block;
        width: 100%;
    }
}

@media (min-aspect-ratio: 1/1) {
    .records {
        display: inline-block;
        width: 50%;
    }
}


.record {
    padding: 4px 8px 4px 8px;
    display: grid;
    background-color: aliceblue;
    border-radius: 8px;
    margin: 8px;
    box-shadow: 2px 2px 4px #00000033;
}

.record:hover {
    background-color: rgb(227, 242, 255);
}

.location {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
}

.date {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 1.1em;
    text-align: right;
}

.warning {
    color: orange;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
}

.danger {
    color: tomato;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
}

.temperature {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
}

.time {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 0.8em;
    text-align: center;
}